.advantage .title {
    margin-top: 100px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #231F20;
}
.advantage .points-text {
    text-indent: 36px;
    width: 90%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    letter-spacing: 0.02em;
    color: #231F20;

}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 992px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 576px) {
    .advantage .points-text {
        width: 100%;
    }
    .advantage .title {
        font-size: 32px;
        margin-top: 50px;
    }

}
