.pop_up {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: transparent;
  z-index: 25;
  transform: translateY(-44.5%) scale(0);
  transition: .4s ease-in-out;
}
.pop_up.active {
  transform: translateY(0%) scale(100%);
  background-color: rgba(0,0,0,.8);;
}
.pop_up_container {
  width: 100%;
  height: 100%;
  display: flex;
}
.pop_up_body {
  margin: auto;
  width: 750px;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 70px 15px 70px 15px;
  position: relative;
}
.pop_up_title {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: black;
}

.pop_up_body p {
  font-size: 28px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  color: #22262D;
  margin-bottom: 40px;
}
.pop_up_body_input {
  display: block;
  margin: 25px auto 0 auto;
  width: 330px;
  padding: 17px 20px;
  background-color: #E5E5E5;
  border-radius: 10px;
  border: none;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #89909f;
  outline: none;
}
.pop_up_body_button {
  cursor: pointer;
  display: block;
  width: 50%;
  margin: 40px auto 0 auto;
  padding: 20px 0;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 16px;
  border: none;
  color: #fff;
  border-radius: 10px;
  background-color: #ffb234;
}
.pop_up_body_button:hover {
  background: #ffbc4e;
}
.pop_up_close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 21px;
  cursor: pointer;
}
input {
  display: block;
  margin: 25px auto 0 auto;
  width: 50%;
  padding: 17px 20px;
  background-color: #e5e5e5;
  border-radius: 10px;
  border: 0;
  font-family: Montserrat,sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #89909f;
  outline: 0;
}
.input-two {
  padding: 20px 20px 80px 20px;
  display: block;
  margin: 25px auto 0 auto;
  width: 50%;
  background-color: #e5e5e5;
  border-radius: 10px;
  border: 0;
  font-family: Montserrat,sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #89909f;
  outline: 0;
}
.descriptor .container {
  background: #000000;
  border-radius: 20px;
  background-size: cover;
  width: 100%;
  padding-top: 35px;
}
.descriptor .title {
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 121.1%;
  letter-spacing: 0.02em;
  color: #f8f8f8;
  margin-top: 100px;
  margin-bottom: 20px;
}
.descriptor .text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: 0.02em;
  color: #f8f8f8;
  margin: 0;
}
.tel {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #231f20;
  text-decoration: none;
  margin-left: 80px;
}
.main-information {
  display: flex;
  position: relative;
}
.content {
  position: relative;
  left: 80px;
  width: 84%;
}
.form {
  position: absolute;
  top: 22px;
  right: 0;
  bottom: 0;
  z-index: 1;
  margin-top: 150px;
}
.btn {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #231f20;
  background: #ffb234;
  border-radius: 5px;
  padding: 23px 30px;
  margin-top: 50px;
  outline: 0;
  transition: all .5s ease;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: #ffb234;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px #ffb234;
  margin-bottom: 128px;
  cursor: pointer;
  border: none;
}
.btn:hover {
  background: #FDDF75;
  box-shadow: 0 0 20px #FDDF75;;
  border-radius: 5px;
}

.descriptor button.btn:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(
    rgba(206, 128, 38, 0.35) 0%,
    rgba(23, 212, 23, 0) 80%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(239, 133, 12, 0.35) 0%,
    rgba(194, 19, 19, 0) 80%
  );
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
}

.descriptor button.btn:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}
.descriptor button.btn:hover:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}

@media screen and (max-width: 1200px) {
  .pop_up_body {
  overflow: scroll;
  height: inherit;
  }
}
@media screen and (max-width: 992px) {
  .main-information {
    display: block;
  }
  .content {
    position: inherit;
    width: 100%;
    left: 0;
  }
  .descriptor .title {
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 30px;
  }
  .descriptor .text {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .form {
    position: inherit;
    margin-top: 0;
    top: 0;
  }
  .btn {
    margin: 0;
  }
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 576px) {
  .descriptor .title {
    margin-top: 20px;
  }
  input {
    width: 100%;
    margin: 15px auto 0 auto;
    padding: 15px 20px;
  }
  .input-two {
    width: 100%;
    padding: 15px 20px 60px 20px;
    margin: 15px auto 0 auto;
  }
  .pop_up_body_button {
    margin: 20px auto 0 auto;
  }
  .pop_up_body {
    padding: 50px 15px;
  }
  .nav-toggle {
    top: 40px;
  }
}


