.descriptor .container {
  background: #000000;
  border-radius: 20px;
  background-size: cover;
  width: 100%;
  padding-top: 35px;
}
.descriptor .title {
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 121.1%;
  letter-spacing: 0.02em;
  color: #f8f8f8;
  margin-top: 100px;
  margin-bottom: 20px;
}
.descriptor .text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: 0.02em;
  color: #f8f8f8;
  margin: 0;
}
.tel {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #231f20;
  text-decoration: none;
  margin-left: 80px;
}
.main-information {
  display: flex;
  position: relative;
}
.content {
  position: relative;
  left: 80px;
}
.form {
  margin-top: 149px;
  width: 30%;
  right: 140px;
  position: relative;
}
.btn {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #231f20;
  background: #ffb234;
  border-radius: 5px;
  padding: 23px 30px;
  margin-top: 50px;
  outline: 0;
  transition: all .5s ease;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: #ffb234;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px #ffb234;
}
.btn:hover {
  background: #ffbc4e;
}
.descriptor button.btn:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(
    rgba(206, 128, 38, 0.35) 0%,
    rgba(23, 212, 23, 0) 80%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(239, 133, 12, 0.35) 0%,
    rgba(194, 19, 19, 0) 80%
  );
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
}

.descriptor button.btn:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}
.descriptor button.btn:hover:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}
