
.faq .container {
    background: #000000;
    border-radius: 20px;
}
.faq-title {
    padding-top: 80px;
    margin-bottom: 40px;
    margin-left: 80px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #F8F8F8;
}
.faq-block {
    margin: 0 80px;
    padding-bottom: 80px;
}
.faq-section {
    position: relative;
    padding: 20px 20px 20px 0;
    color: white;
    border-bottom: 2px solid #404040;
    border-top: 2px solid #404040;
}
.faq-section .title {
    display: inline-block;
    margin: 30px 0;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #F8F8F8;
    cursor: pointer;
}
.faq-toggle-button {
    float: right;
    margin-top: 45px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
}
.faq-toggle-button-icon {
    display: block;
    width: 20px;
    height: 20px;
    border-top: 2px solid #404040;
    border-right: 2px solid #404040;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
}
.faq-toggle-button.open .faq-toggle-button-icon {
    transform: rotate(135deg);
}
.faq .title-text {
    margin-top: 20px;
    display: none;
    font-size: 25px;
}
.faq-toggle-button.open ~ .title-text {
    display: block;
}
.faq .text {
    margin-top: 20px;
    display: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    letter-spacing: 0.02em;
    color: #F8F8F8;
}
.faq-toggle-button.open ~ .text {
    display: block;
    width: 90%;
}
@media screen and (max-width: 1200px) {
    .faq-section .title {
        margin: 30px 5px;
    }
}
@media screen and (max-width: 992px) {
    .faq-section .title {
        margin: 30px 10px;
    }
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 576px) {
    .faq-title {
        font-size: 25px;
        line-height: 30px;
        letter-spacing: 0.01em;
        margin-top: 50px;
        margin-left: 10px;
    }
    .faq-section .title {
        font-size: 16px;
        line-height: 19px;
        margin: 15px 30px;
    }
    .faq-block {
        margin: 0;
        padding-bottom: 50px;
    }
    .faq-toggle-button {
        margin-top: 22px;
    }
    .faq-section {
        padding: 20px 0 10px 0;
    }
}
