@import "descriptor.css";
@import "summary.css";
@import "services.css";
@import "advantage.css";
@import "faq.css";
@import "connection.css";
@import "footer.css";

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
}
* {
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}
header.main.scrolling-active {
  box-shadow: 0 0 3px 0 rgb(0 0 0 / 50%);
}

  header.main {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 25;
  }
.logo {
  margin-bottom: 25px;
  margin-top: 25px;
}
.main .container {
  align-items: center;
}
nav.nav-main {
  display: flex;
  justify-content: right;
  text-decoration: none;
  margin: 32px 17px;
  border-bottom: 2px solid transparent;
}
nav.nav-main a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #231f20;
  flex: none;
  order: 1;
  flex-grow: 0;
  text-decoration: none;
  margin: 15px 30px;
  border-bottom: 2px solid transparent;
  transition: 300ms;
  text-align: center;
}
nav.nav-main a:hover {
  border-bottom: 2px solid #ffb234;
  color: #ffb234;
}
.nav-toggle {
  display: none;
}
.contacts-info {
  display: none;
}
.logo-main {
  display: none;
}
.block-info {
  display: none;
}
.nav-toggle-close {
  display: none;
}
.language {
  width: 3%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #C1C1C1;
  text-decoration: none;
  text-align: center;
}
.language:hover {
  background: #FFB234;
  color: black;
  border-radius: 10px;
}
.tel:hover {
  color: #ffb234;
}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 992px) {
  .logo-main {
    display: block;
  }
  .language {
    width: 2%;
    margin-left: 20px;
  }
  .logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .contacts-info {
    display: contents;
  }
  .block-info {
    display: block;
  }
  .message-info {
    font-style: normal;
    font-weight: 400;
    font-size: 16px; !important;
    line-height: 145%;
    letter-spacing: 0.02em;
    color: #F8F8F8;
  }
  .info-title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 145%;
    letter-spacing: 0.02em;
    color: #F8F8F8;
    margin-bottom: 0;
    margin-left: 20px;
  }
  .nav.nav-main {
    margin: 32px 0;
  }
  .nav-main.active {
    box-shadow: none;
    margin: 0;
  }
  nav.nav-main a:hover {
    transform: none;
  }
  nav.nav-main {
    margin: 0;
  }
  .dropdown {
    display: inline;
    position: absolute;
    right: 100px;
    top: 50px;
  }

  .nav-toggle {
    display: block;
    width: 30px;
    height: 25px;
    position: absolute;
    top: 45px;
    right: 30px;
    z-index: 2;
    overflow: hidden;
    border: none;
    background: none;
  }

  .nav-toggle span:nth-of-type(2) {
    top: calc(50% - 8px);
  }

  .nav-toggle span:nth-of-type(3) {
    top: calc(50% + 8px);
  }

  .nav-toggle.active span:nth-of-type(1) {
    display: none;
  }

  .nav-toggle.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }

  .nav-toggle.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }

  .nav-toggle-close {
    position: absolute;
    top: 35px;
    right: 25px;
    color: #ffffff;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    display: block;
  }

  .nav-main {
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.5s;
    background: black;
    top: 0;
    right: 0;
    width: 40%;
    height: 100vh;
    position: fixed;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.3);
  }

  nav.nav-main a {
    margin-bottom: 0;
    margin-left: 20px;
    padding: 0;
    color: #ffffff;
    order: inherit;
    text-align: inherit;
  }

  .nav-main.active {
    transform: translateX(0);
    margin: 0;
    justify-content: flex-start;
    z-index: 5;
  }

  .span {
    width: 30px;
    height: 2px;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: #000000;
    transition: all 0.5s;
  }

  .span-one {
    width: 20px;
    height: 2px;
    position: absolute;
    transform: translate(-27%, -50%);
    background-color: #000000;
    transition: all 0.5s;
  }
}
@media screen and (max-width: 768px) {
  .nav-main {
    width: 100%;
  }
  .boys-img {
    width: 100%;
  }
  .dropdown {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .descriptor .title {
    font-size: 28px;
  }
  .descriptor .text {
    font-size: 17px;
  }
}
