.services {
  background: #000000;
  border-radius: 10px;
}
.services .title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #f8f8f8;
  padding-top: 80px;
  margin-bottom: 30px;
}
nav.nav-services {
  background: #131313;
  border-radius: 10px;
  margin-bottom: 20px;
}
nav.nav-services a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #f8f8f8;
  text-decoration: none;
  padding: 11px 0;
  display: table-cell;
  width: 25%;
}
nav.nav-services a:hover {
  background: #fcbf4c;
  border-radius: 10px;
}
.nav-services {
  display: flex;
}
.services-link {
  width: 25%;
}
.title-block {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #f8f8f8;
  margin-top: 60px;
  margin-bottom: 10px;
}
.text-block {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0.02em;
  color: #f8f8f8;
  margin-bottom: 68px;
  height: 60px;
}
.title-price {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #f8f8f8;
  float: right;
}
.price-title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #f8f8f8;
  float: right;
  padding: 0 10px ;
}
.block-site {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
}
.site-services {
  background: #131313;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(32.9% - 10px);
  padding: 0 10px;
  margin-bottom: 10px;
}

.site-block {
  display: flex;
  background: #131313;
  border-radius: 10px;
}

.vector2 {
  margin-top: 4px;
}
.vector4 {
  margin-top: 21px;
}
.vector6 {
  margin-bottom: 20px;
}
.vector8 {
  position: absolute;
  margin-left: -167px;
}
.site-img {
  width: 52%;
}
.services-site {
  width: 44%;
}
.services .btn {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 80px;
  transition: all .5s ease;
}
.services .btn:hover {
  background: #ffbc4e;
}
.modal-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #F8F8F8;
  margin-bottom: 30px;
  margin-top: 80px;
}
.modal-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: 0.02em;
  color: #F8F8F8;
  margin-bottom: 106px;
}
/* Скрываю модальное окно по умолчанию */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

/* Стилизация контент модального окна */
.modal-content {
  background: #131313;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 30px;
}
/* Стилизация крестик для закрытия окна */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #ffffff;
  border-radius: 10px;
  z-index: 1000;
  display: none;
}

#modal-content {
  padding: 20px;
}

#close-modal {
  display: block;
  margin-top: 20px;
}
@media screen and (max-width: 1200px) {
  .block-site {
    display: flex;
  }
  .title-price {
    margin-top: auto;
    margin-left: auto;
  }
  .services-images {
    margin-top: 0;
  }
  .site-img {
    width: 60%;
  }
}
@media screen and (max-width: 992px) {
  .services .title {
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .price-title {
    margin-top: 11px;
  }
  .nav-services {
    flex-wrap: wrap;
  }
  .services-link {
    width: 50%;
  }
  .block-site {
    gap: 10px;
  }
  .site-services {
    width: 49%;
    margin-bottom: 0;
  }
  .site-block {
    width: 49%;
  }
  .site-img {
    width: 0;
  }
  .girl-img {
    display: none;
  }
  .vector8 {
    position: absolute;
    margin-left: 10px;
  }
  .services-site {
    width: 100%;
    padding: 0 10px;
  }
  .block-services {
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  .price-title {
    margin-top: 42px;
  }
  .text-block {
    font-size: 14px;
  }
  nav.nav-services {
    background: none;
  }
  .services-link {
    width: 49%;
    margin: 2px;
    background: #131313;
    border-radius: 10px;
  }
}
@media screen and (max-width: 576px) {
  .services .title {
    margin-top: 50px;
  }
  nav.nav-services {
    background: none;
  }
  .services-link {
    width: 100%;
    background: #131313;
    margin-bottom: 5px;
  }
  .site-services {
    width: 100%;
  }
  .site-block {
    width: 100%;
  }
}

