
.popup {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.popup-content {
  position: relative;
  margin: 100px auto;
  padding: 40px;
  background-color: #131313;
  width: 70%;
  height: auto;
  overflow: auto;
}

.popup-header {
  margin: 0 0 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #F8F8F8;
}

.popup-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: 0.02em;
  color: #F8F8F8;
}

.popup-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  background: #131313;
  border: none;
}
.popup-close:hover {
  color: #ffbc4e;
}

.question-mark {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #131313;
  border-radius: 50%;
  margin-left: 28px;
  font-weight: bold;
  cursor: pointer;
}

.question-mark:hover {
  background-color: #555;
}

.question-mark.active {
  background-color: #555;
}

.question-mark.active:hover {
  background-color: #777;
}

.info-window {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  display: none;
}

.info-window.active {
  display: block;
}
.services {
  background: #000000;
  border-radius: 10px;
}
.services .title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #f8f8f8;
  padding-top: 80px;
  margin-bottom: 30px;
}
nav.nav-services {
  background: #131313;
  border-radius: 10px;
  margin-bottom: 20px;
}
nav.nav-services a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #f8f8f8;
  text-decoration: none;
  padding: 11px 0;
  display: table-cell;
  width: 25%;
}
nav.nav-services a:hover {
  background: #fcbf4c;
  border-radius: 10px;
}
nav.nav-services a:focus {
  background: #fcbf4c;
  border-radius: 10px;
}
.nav-services {
  display: flex;
}
.services-link {
  width: 25%;
}
.title-block {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #f8f8f8;
  margin-top: 60px;
  margin-bottom: 10px;
  padding: 0 40px;
}
.text-block {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0.02em;
  color: #f8f8f8;
  margin-bottom: 68px;
  height: 60px;
  padding: 0 40px;
}
.title-price {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #f8f8f8;
  text-align: right;
  padding: 0 40px;
}
.price-title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #f8f8f8;
  float: right;
  padding: 0 10px ;
}
.block-site {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
}
.site-services {
  background: #131313;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(32.9% - 10px);
  padding: 0 10px;
  margin-bottom: 20px;
}
.site-services-two {
  background: #131313;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(50% - 10px);
  padding: 0 10px;
  margin-bottom: 20px;
}

.site-block {
  display: flex;
  background: #131313;
  border-radius: 10px;
}
.site-block-two {
  display: flex;
  background: #131313;
  border-radius: 10px;
}
.vector2 {
  margin-top: 4px;
}
.vector3 {
  margin-left: 100px;
}
.vector4 {
  margin-top: 22px;
  margin-left: 34px;
}
.vector6 {
  margin-bottom: 20px;
  margin-left: 80px;
}
.vector8 {
  position: absolute;
  margin-left: -134px;
}
.yellow1 {
  margin-left: 110px;
  margin-right: 18px;
  margin-bottom: 30px;
}
.blue-top {
  margin-left: 87px;
  margin-right: 15px;
  z-index: 1;
  position: sticky;
}
.small-ball {
  margin-bottom: 23px;
}
.semicircle2 {
  margin-left: 78px;
  margin-right: 25px;
}
.peach {
  margin-bottom: 27px;
}
.blue-bottom {
  position: absolute;
  margin-left: -56px;
  z-index: 1;
}
.blue-black {
  position: absolute;
  margin-left: -46px;
}
.blue-blacktop {
  margin-left: -120px;
}
.red-black {
  position: static;
  margin-left: -158px;
}
.site-img {
  width: 52%;
}
.yellow {
  margin-left: 114px;
}
.black1 {
  margin-left: 29px;
  margin-bottom: 15px;
}
.red-top {
  margin-left: 33px;
  margin-right: 22px;
  z-index: 1;
  position: sticky;
}
.red-bottom {
  position: absolute;
  margin-left: -160px;
  z-index: 1;
}
.red-black-bottom {
  position: absolute;
  margin-left: -153px;
}
.blue {
  margin-left: 90px;
  margin-right: 8px;
}
.black3 {
  margin-bottom: 10px;
}
.pink-top {
  margin-left: 69px;
  margin-right: 7px;
}
.pink-black {
  margin-bottom: 19px;
}
.black-pink {
  margin-left: 77px;
  margin-right: 16px;
}
.yellow-pink {
  margin-bottom: 33px;
}
.pink-bottom {
  position: absolute;
  margin-left: -80px;
}
.services-site {
  width: 44%;
}
.services .btn {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 80px;
  transition: all .5s ease;
}
.services .btn:hover {
  background: #ffbc4e;
}
.modal-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #F8F8F8;
  margin-bottom: 30px;
  margin-top: 80px;
}
.modal-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: 0.02em;
  color: #F8F8F8;
  margin-bottom: 106px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background: #131313;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 30px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #ffffff;
  border-radius: 10px;
  z-index: 1000;
  display: none;
}
#modal-content {
  padding: 20px;
}
#close-modal {
  display: block;
  margin-top: 20px;
}
@media screen and (max-width: 1200px) {
  .block-site {
    display: flex;
  }
  .title-price {
    margin-top: auto;
    margin-left: auto;
    padding: 0 20px;
  }
  .text-block {
    height: auto;
    padding: 0 20px;
  }
  .vector8 {
    display: none;
  }
  .services-images {
    margin-top: 0;
  }
  .site-img {
    width: 60%;
  }
  .yellow1 {
    margin-bottom: 10px;
  }
  .peach {
    margin-bottom: 15px;
  }
  .red-bottom {
    display: none;
  }
  .red-black-bottom {
    display: none;
  }
  .black1 {
    margin-bottom: 0;
  }
  .popup-content {
    height: -webkit-fill-available;
    margin: 20px auto;
    overflow: auto;
  }
}
@media screen and (max-width: 992px) {
  .services .title {
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .title-block {
    padding: 0 20px;
    font-size: 23px;
  }
  .text-block {
    font-size: 14px;
  }
  nav.nav-services {
    background: none;
  }
  .services-link {
    width: 49%;
    background: #131313;
    margin: 3px;
  }
  .price-title {
    margin-top: 11px;
  }
  .nav-services {
    flex-wrap: wrap;
  }
  .block-site {
    gap: 10px;
  }
  .site-services {
    width: 49%;
    margin-bottom: 0;
  }
  .site-block {
    width: 49%;
  }
  .site-img {
  display: none;
  }
  .peach {
    display: none;
  }
  .semicircle2 {
    display: none;
  }
  .girl-img {
    display: none;
  }
  .vector8 {
    display: block;
    position: absolute;
    margin-left: 44px;
  }
  .services-site {
    width: 100%;
    padding: 0 10px;
  }
  .block-services {
    width: auto;
  }
  .vector6 {
    display: none;
  }
  .vector7 {
    display: none;
  }
  .blue {
    display: none;
  }
  .black3 {
    display: none;
  }
  .site-services-two {
    width: calc(50% - 5px);
  }
}
@media screen and (max-width: 768px) {
  .price-title {
    margin-top: 42px;
  }
  .title-block {
    padding: 0;
  }
  .text-block {
    font-size: 14px;
    padding: 0;
  }
  nav.nav-services {
    background: none;
  }
  .services-link {
    width: 49%;
    margin: 3px;
    background: #131313;
    border-radius: 10px;
  }
  .black3 {
    display: block;
  }
  .site-services-two {
    width: 49%;
  }
}
@media screen and (max-width: 630px) {
.services-link {
  margin: 2px;
}
}
@media screen and (max-width: 576px) {
  .services .title {
    padding-top: 50px;
  }
  .title-block {
    margin-top: 30px;
  }
  .text-block {
    margin-bottom: 30px;
  }
  nav.nav-services a {
    display: flex;
    padding: 15px 15px;
    width: 100%;
    align-items: center;
  }
  nav.nav-services {
    background: none;
  }
  .services-link {
    width: 100%;
    background: #131313;
    margin-bottom: 5px;
  }
  .site-services {
    width: 100%;
  }
  .site-block {
    width: 100%;
  }
  .vector6 {
    display: block;
    margin-bottom: 0;
  }
  .vector7 {
    display: block;
  }
  .vector8 {
    margin-left: 10px;
  }
  .site-services-two {
    width: 100%;
  }
  .popup-content {
    width: 100%;
  }
  .popup-close {
    right: 0;
  }
  .pop_up_body_button {
    width: 100%;
  }
  .popup-content {
    margin: 0 auto;
  }
}
@media screen and (max-width: 350px) {
  nav.nav-services a {
    display: -webkit-box;
  }
}

