.summary .title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #231f20;
  margin-top: 100px;
  margin-bottom: 30px;
}
.points-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: 0.02em;
  text-indent: 30px;
  padding: 0 5px;
  color: #231f20;
  background: url(../img/Subtract.png) no-repeat;
}
.list {
  display: flex;
  margin-bottom: 100px;
}
@media screen and (max-width: 1200px) {
  .summary .title {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .list {
    display: grid;
    margin-bottom: 50px;
  }
  .points {
    margin-bottom: 10px;
  }
  .points-text {
    padding: 0;
  }
}
@media screen and (max-width: 992px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 576px) {
  .points-text {
    font-size: 16px;
  }
}

